.post-review-modal-container{
    border: 2px solid #ececec;
    width: 430px;
    /* border-radius: 10px;
    overflow: hidden; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3 {
    margin-top: 0px;
    margin-bottom: 1px;
}
.error-message {
    margin: 5px 0;
}

#review-textarea {
    border: 2px solid gray;
    margin-bottom: 10px;
    height: 100px;
    width: 390px;
}

.star-ratings-container {
    display: flex;
    justify-content: center;
}

.rating-input {
    display: flex;
}

.filled {
    color: black;
}

.empty {
    color: white;
}



.submit-review-button {
    background-color: #3864ec;
    color: white;
    width: 68%;
    height: 40px;

    margin-top: 10px;
    margin-left: 63px;

    border-radius: 50px;
    border: none;
}


.stars-text{
    margin-left: 3px;
}

.post-review-errors-container {
    margin-bottom: 10px;
}

.post-review-errors {
    color: red;
}
