#product-tile {
    margin: 15px;
    height: 330px;
    /* width should be the same as product image container */
    /* slightly biggers */
    width: 252px;
    border: 1px solid white;
    border-radius: 5px;
}
#product-tile:hover {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1.5px 2px black;
}


#link-image{
    text-decoration: none;
    color: black;
}

#image-container {
    /* the image section/container needs to be square */
    width: 250px;
    height: 250px;

    background-color: #f4f4f4;
    border-radius: 5px;
    border: 1px solid white;

}
#image-section:hover {


}

#product-img {
    width: 100%;
    height: 100%;
    /* sets element's fit to its outside containers */
    object-fit: contain;
}

#description-section {
    margin-top: 0.5em;
    margin-left: 0.2em;
    font-size: 13.5px;

}

#link-product-title {
    text-decoration: none;
    display: inline;

}
#link-product-title:hover {
    text-decoration: underline;
}

#product-title{
    text-decoration: none;
    color: black;
}
