#page-container {
    display: flex;

}


#slideshow-container {
    position: relative;
    margin: auto;
}

#ad-image {
    width: 100%;
}



#products-title {
    font-size: 20px;
    margin-top: 50px;
    margin-left: 5%;
}

#all-products-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    /* border: 1px solid black; */
}


#main-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;


    width: 100%;
}
