#page-container {
    display: flex;

}

#daily-deals {
    font-size: 20px;
    margin-top: 50px;
    margin-left: 50px;
}

#product-tile{
    margin: 15px;
    height: 300px;
    width: 300px;
}


#product-title {
    text-decoration: none;
    color: black;
}
#product-title:hover {
    text-decoration: underline;
}

#all-products-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
