#page-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#left-container {
    margin-right: 50px;
}



#title {
    font-size: 32px;
}
#quantity-input{
    width: 35px;
}
#quantity-label{
    margin-right: 5px;
}
#detail-quantity-error {
    margin-left: 5px;
}

.product-details-button {
    display: block;
    background-color: #3864ec;
    color: white;
    font-size: 17px;
    font-weight: bold;
    padding: 10px 38px;
    border: none;
    border-radius: 25px;
    margin-top: 10px;
    cursor: pointer;
}
