#page-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#left-container {
    margin-right: 50px;
}



#title {
    font-size: 32px;
}
#quantity-input{
    width: 35px;
}
#quantity-label{
    margin-right: 5px;
}
#detail-quantity-error {
    margin-left: 5px;
}
