/* TODO: Add sitewide styles */
@font-face {
    font-family: market-sans;
    /* files in public directory are served at '/' */
    src: url('/MarketSans-Regular.ttf');
}

* {
    font-family: market-sans;
    /* font-family: sans-serif, serif; */
}
