/* override default values */
body {
  margin: 0;
  padding: 0;
}

/* better to seaprate css */
#navigation-container {
}

#top-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* good number to keep space around */
  width: 95%;
  height: 29px;
}
#profile-button {
  position: relative;
  left: 5%;
}
#top-right {
  display: flex;
  position: relative;
  right: 0px;
  font-size: 13px;

}
#top-right div {
  margin: 0 10px;
}

#top-border {
  /* to make it extend across the entire page */
  width: 100%;
  border-bottom: 1px solid #ececec;
}


#mid-navigation {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-top: 17.5px;
  margin-bottom: 17.5px;

  /* good number to keep space around */
  width: 80%;
}



#square-force {
  text-decoration: none;
  color: black;
  font-size: 32px;
}
#logo-container {
  position: relative;
  left: 6%;
}



.top-right-tabs {
  text-decoration: none;
  color: black;
}
.top-right-tabs:hover {
  cursor: pointer;
  text-decoration: underline;
}


#top-border, #bottom-border {
  border-bottom: 1px solid #ececec;
}




/* profile button*/
#dropdown-button {
  background-color: white;
  border: none;
  padding: 0 0;
}
#dropdown-button:hover {
  cursor: pointer;
}



#profile-dropdown {
  position: absolute;
  background-color: white;
  border: 1px solid #ececec;
  z-index: 1;
  /* so that text will not go to the next line */
  white-space: nowrap;
  font-size: 15px;
  padding: 5px 8px;
  /* position for the whole modal */
  left: -9.5px;
  bottom: -73px;
}

#logout-button {
  border: none;
  background-color: white;
  color: #3864ec;
  text-decoration: underline;
}
#logout-button:hover {
  cursor: pointer;

}


#login-modal-button,
#signup-modal-button {
  list-style: none;
  color: #3864ec;
  text-decoration: underline;
}
#login-modal-button:hover,
#signup-modal-button:hover {
  cursor: pointer;
}

.hi-sign-in{
  font-size: 12px;

}
#sign-in {
  color: blue;
  text-decoration: underline;
  /* no need for hover, its already a button */
}

.fa-angle-down {
  position: relative;
  top: 2.5px;
  left: 2px;
}


#logo-container span {
  letter-spacing: -1.85px;
}
#logo-red{
  color: #e83434;
}
#logo-blue{
  color: #0864d4;
}
#logo-yellow{
  color: #f8ac04;
}
#logo-green{
  color: #88b414;
}


/* outside of the conatiner */
#nav-search-container {
    margin-left: 100px;
    width: 100%;

}
