.profile-dropdown {
  position: absolute;
}


#upper-navigation {
  display: flex;
  justify-content: space-between;
}

#upper-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30px;
}
#upper-left div{
  margin: 0 10px;
}
#square-force{
  text-decoration: none;
  color: black;
  font-size: 32px;

}
#logo-container {
  margin-left: 50px;
}

#upper-right {
  display: flex;
  flex-direction: row;
  margin-right: 50px;
}
#upper-right div {
  margin: 0 10px;
}
.upper-right-tabs {
  text-decoration: none;
  color: black;
}
.upper-right-tabs:hover {
  cursor: pointer;
  text-decoration: underline;
}
